body {
    margin: 0;
    background-color: rgb(39, 39, 49);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

/* NAVBAR */
nav {
    background: #522A92;
    background: linear-gradient(90deg, rgba(82, 42, 146, 1) 0%, rgba(112, 72, 176, 1) 81%, rgba(143, 111, 191, 1) 100%);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbarLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbarLink:hover {
    background-color: rgba(255, 255, 255, 0.103);
    border-bottom: 2px solid aliceblue;
}

/* CONTEÚDO GERAL */
.containerGeneral {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.containerAdd {
    height: 320px;
}

.containerSearch {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px; /* mesmo tamanho do card da esquerda */
}

/* CARD BRANCOS */
.cardForm {
    background-color: aliceblue;
    color: #522A92;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

/* FORMS */
.titleAdd {
    color: #522A92;
    margin-bottom: 20px;
    font-size: 22px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formLabel {
    color: #522A92;
    margin-bottom: 5px;
    font-size: 15px;
}

.formInput {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #8F6FBF;
    outline: none;
    background-color: white;
    color: #522A92;
}

/* BOTÕES */
.btn {
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s ease-in-out;
    background-color: #7048B0;
    color: aliceblue;
}

.btnDelete {
    background-color: #A52A2A;
    color: white;
    margin-bottom: 5px;
}

.btnDelete:hover {
    background-color: #7a1f1f;
}

.btnEdit {
    background-color: #7048B0;
    color: white;
}

.btnEdit:hover {
    background-color: #7557a3;
}

.showAllLink {
    width: 100%;
    margin-left: 42%;
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
}

.showAllLink:hover {
    text-decoration: underline;
}

/* TABELA */
.tableCategories {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: aliceblue;
    border-radius: 12px;
    overflow: hidden;
    border: 1.5px solid white;
}

.tableRowTop {
    background-color: #522A92;
    color: white;
    font-weight: normal;
}

.tableTopAction {
    width: 17%;
}

.tableTopID,
.tableTopCategory,
.tableTopAction {
    padding: 12px;
    text-align: left;
}

.tableTopID {
    font-weight: normal;
    text-align: center;
}
.tableTopName {
    font-weight: normal;
    text-align: left;
}

.tableTopPhone {
    font-weight: normal;
    text-align: left;
}

.tableTopEmail {
    font-weight: normal;
    text-align: left;
}

.tableTopAction {
    font-weight: normal;
    text-align: center
}

.tableRow {
    border-bottom: 1px solid #d4d4d4;
}

.tableCell {
    padding: 10px 12px;
    color: #522A92;
}

.tableActionCell form {
    display: inline-block;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .containerGeneral {
        flex-direction: column;
        align-items: center;
    }
    
    .cardForm {
        width: 90%;
    }
}
