@keyframes animacao {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    background-color: rgb(39, 39, 49);
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2 {
    margin-left: 5%;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
    line-height: 1.4; 
}

h4 {
    margin-left: 5%;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    line-height: 1.4;
}

form {
    width: 50%;
    height: 50%;
    display: flex;
}

.containerInput {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: #522A92;
    padding: 4%;
    padding-top: 1%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

input {
    width: 95%;
    font-size: 16px;
    border: none;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 6%;
    border-left: 3px solid #522a926f;
}

input:focus {
    outline: none;
}

input:not(:placeholder-shown) {
    border-left: 3px solid #522a92;
}

.containerWelcome {
    background: linear-gradient(90deg, #522A92, #684ba4);
    background-size: 300% 300%;
    animation: animacao 5s ease infinite;
    box-shadow: inset 6px 0 15px #4a2581;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    background: linear-gradient(90deg, #522A92, #684ba4);
    background-size: 300% 300%;
    animation: animacao 5s ease infinite;
    border: none;
    font-size: 16px;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 10%;
    padding: 3%;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: linear-gradient(90deg, #7645c3, #9d7ddc);
    background-size: 300% 300%;
    animation: animacao 5s ease infinite;
    transform: scale(1.05);
}

a {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    transition: 0.2s ease-in-out;
    color: #522A92;
}

a:hover {
    color: #6942a8;
    transform: scale(1.05);
}