<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- fonte -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='alterar.css') }}">
    <title>Alterar Movimentação</title>
</head>

<body>

    <!-- área principal -->
    <div>

        <!-- formulário para editar movimentação -->
        <form action="{{ url_for('mov.alterarmov_post', id=mov.IDMOVIMENTACAO) }}" method="POST">
            <h1>Alterar Movimentação</h1>

            <!-- campos do formulário -->
            <div>

                <label>Tipo (Entrada / Saída)</label>
                <input type="text" name="tipo" value="{{ mov.TIPO }}" required>

                <label>Quantidade</label>
                <input type="number" name="quantidade" value="{{ mov.QUANTIDADE }}" required>

                <label>ID do Lote</label>
                <input type="number" name="idlote" value="{{ mov.IDLOTE }}" required>

                <label>Data da Movimentação</label>
                <input type="date" name="data" value="{{ mov.DATA_MOV }}" required>

            </div>

            <!-- botão para salvar -->
            <button type="submit">Salvar alterações</button>
        </form>

    </div>

</body>
</html>
