<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- fonte -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='paginaPrincipal.css') }}">
    <title>Página principal</title>
</head>

<body>

    <!-- menu principal -->
    <nav>
        <li><a href="{{ url_for('cat.categorias') }}" class="navbarLink">Categorias</a></li>
        <li><a href="{{ url_for('pro.produtos') }}" class="navbarLink">Produtos</a></li>
        <li><a href="{{ url_for('forn.fornecedores') }}" class="navbarLink">Fornecedores</a></li>
        <li><a href="{{ url_for('lote.lotes') }}" class="navbarLink">Lotes</a></li>
        <li><a href="{{ url_for('mov.movimentacoes') }}" class="navbarLink">Movimentações</a></li>
    </nav>

    <!-- mensagem de boas-vindas -->
    <h1>Bem-vindo de volta, <span>{{ usuario }}</span></h1>

    <!-- botão de logout -->
    <a href="{{ url_for('main.logout') }}" class="logoutButton">Fazer Logout</a>

</body>
</html>
